h1,
p {
  font-family: Lato;
  color: red;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.my-components {
  width: 80%;
  height: auto;
  background-color: azure;
  padding: 10px;
}

h2 {
  color: darkmagenta;
}

h5 {
  color: gray;
}

.array-props {
  width: 80%;
  height: auto;
  background-color: antiquewhite;
  padding: 10px;
}

ul {
  list-style-type: none;
}

ul > li {
  padding: 5px;
}
